body {
    font-family: sans-serif;
    font-size: 62.5%;
}
.box-1{
    background: linear-gradient(to right,#111324 0,#212547 100%);
    color: white;
    height: 400;
}
.inner {
    /* background: blanchedalmond; */
    display: inline-block;
    padding: 20px;
    margin-left:500px ;
    margin-top: 80px;
    
}
.inner > h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 65px;
}
.inner > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}